<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true">
        <activity
            android:name="com.example.alarmdemo.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".AlarmService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
          
            />
    
        <activity
            android:name="com.example.alarmdemo.Show"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.SHOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
 <activity
            android:name="com.example.alarmdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.AlarmAlert"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.ALARMALERT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.Riddles"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.RIDDLES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.Puzzle"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.PUZZLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.ImageCount"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.IMAGECOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="com.example.alarmdemo.ColorChecking"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.alarmdemo.COLORCHECKING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

</application>
</manifest>
